<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.restep.mapper.UserMapperXml">
    <resultMap id="BaseResultMap" type="com.restep.dataobject.UserDO">
        <id     column="id"        property="id"       jdbcType="INTEGER" />
        <result column="userName"  property="username" jdbcType="VARCHAR"/>
        <result column="passWord"  property="password" jdbcType="VARCHAR"/>
        <result column="user_sex"  property="userSex"  jdbcType="VARCHAR" javaType="com.restep.enums.UserSexEnum"/>
        <result column="nick_name" property="nickname" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, username, password, user_sex, nick_name
    </sql>

    <sql id="Base_Where_List">
        <if test="username != null  and username != ''">
            and username = #{username}
        </if>
        <if test="userSex != null and userSex != ''">
            and user_sex = #{userSex}
        </if>
    </sql>

    <select id="getAll" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM user
    </select>

    <select id="getList" resultMap="BaseResultMap" parameterType="com.restep.req.UserReq">
        select <include refid="Base_Column_List"/>
        from user
        where 1=1
        <include refid="Base_Where_List"/>
        order by id desc
        limit #{beginLine} , #{pageSize}
    </select>

    <select id="getCount" resultType="Integer" parameterType="com.restep.req.UserReq">
        select
        count(1)
        from user
        where 1=1
        <include refid="Base_Where_List"/>
    </select>

    <select id="getOne" parameterType="Integer" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM user
        WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="com.restep.dataobject.UserDO">
        INSERT INTO
        user
        (username,password,user_sex,nick_name)
        VALUES
        (#{username}, #{password}, #{userSex},#{nickname})
    </insert>

    <update id="update" parameterType="com.restep.dataobject.UserDO">
        UPDATE user
        SET
        <if test="username != null">
            username = #{username},
        </if>
        <if test="password != null">
            password = #{password},
        </if>
        nick_name = #{nickname}
        WHERE
        id = #{id}
    </update>

    <delete id="delete" parameterType="Integer">
        delete from user where id = #{id}
    </delete>
</mapper>